<%= provide(:title, "ユーザー詳細") %>

<h1><%= @user.name %></h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-condensed table-bordered">
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>Tips投稿数</td>
        <td><%= @all_tips_count %></td>
      </tr>
      <tr>
        <td><%= link_to "投稿したTipsを見る", user_tips_path(@user), class: "btn btn-primary" %></td>
        <td><%= link_to "お気に入りTips一覧", tips_index_path(tips_condition: {user_favorite: @user.id}), class: "btn btn-primary" %></td>
      </tr>
      <% if (current_user?(@user) || current_user.admin?) %>
        <tr>
          <td><%= link_to "アカウント編集", edit_user_path, class: "btn btn-success" %></td>
          <td><%= link_to "Tips新規投稿", new_user_tip_path(@user), class: "btn btn-success" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>