<% provide(:title, "Tips編集") %>

<h1>Tipsの編集</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @tip, url: user_tip_path, local: true) do |f| %>
      <%= render 'shared/tip_error_messages' %>
      <%= f.label :country, class: "label-tips" %>
      <%= f.select :country, @countries, { selected: @tip.country }, class: "form-control" %>

      <%= f.label :tips_type, class: "label-tips" %>
      <%= f.text_field :tips_type, class: "form-control" %>

      <%= f.label :tips_content, class: "label-tips" %>
      <%= f.text_area :tips_content, class: "form-control" %>

      <%= f.label :street_view, class: "label-tips" %>
      <%= f.text_field :street_view, class: "form-control" %>

      <%= f.submit "編集", class: "btn btn-block btn-primary btn-tips-form" %>
    <% end %>
  </div>
</div>

