<% provide(:title, @user.name + "のTips一覧") %>

<h1><%= @user.name %>のTips一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="index-form">
      <%= form_with(scope: :tips_condition, url: user_tips_path, method: :get, local: true) do |f| %>
        <%= f.label :country, "国名", class: "label-tips" %>
        <%= f.select :country, @countries, { include_blank: true, selected:1 }, class: "form-control" %>

        <%= f.label :tips_type, "カテゴリー", class: "label-tips" %>
        <%= f.text_field :tips_type, class: "form-control" %>

        <%= f.label :tips_content, "内容", class: "label-tips" %>
        <%= f.text_field :tips_content, class: "form-control" %>

        <%= f.label :user_favorite, class: "checkbox inline checkbox-favorite", for: "user_favorite" do %>
          <%= f.check_box :user_favorite, id: "user_favorite" %>
          <span>お気に入りのみ表示する。</span>
        <% end %>

        <%= f.submit "検索", class: "btn btn-tips-form" %>
      <% end %>
    </div>
    
    <%= will_paginate %>
      <div class="card-group">
        <% @tips.each do |tip| %>
          <div class="card center-block" style="width: 45rem;">
            <% if tip.street_view.present? %>
              <iframe src="<%= tip.street_view %>" class="card-iframe" width="600" height="450" style="border:0;"
                      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <% elsif tip.img.present? %>
              <%= image_tag tip.img.url, class: 'rounded-circle mr15', width: '100%' %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= tip.country + " " + tip.tips_type %></h5>
              <p class="card-text"><%= tip.tips_content %></p>
              <%= render 'favorite', tip: tip %>
              <%= link_to "Tips詳細", user_tip_path(@user, tip), class: "btn btn-primary btn-card" %>
              <% if (current_user?(@user) || current_user.admin?) %>
                <%= link_to "Tips編集", edit_user_tip_path(@user, tip), class: "btn btn-success btn-card" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% will_paginate %>
  </div>
</div>