<% provide(:title, @user.name + "のTips一覧") %>

<h1><%= @user.name %>のTips一覧</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(scope: :tips_condition, url: user_tips_path, method: :get, local: true) do |f| %>
      <%= f.label :country, class: "label-tips" %>
      <%= f.select :country, @countries, { include_blank: true, selected:1 }, class: "form-control" %>

      <%= f.label :tips_type, class: "label-tips" %>
      <%= f.text_field :tips_type, class: "form-control" %>

      <%= f.label :tips_content, class: "label-tips" %>
      <%= f.text_field :tips_content, class: "form-control" %>

      <%= f.submit "検索", class: "btn" %>
    <% end %>

    <%= will_paginate %>
      <% @tips.each do |tip| %>
        <div class="card center-block" style="width: 50rem;">
          <% if tip.street_view.present? %>
            <iframe src="<%= tip.street_view %>" width="600" height="450" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= tip.country + " " + tip.tips_type %></h5>
            <p class="card-text"><%= tip.tips_content %></p>
            <%= link_to "詳細", user_tip_path(@user, tip), class: "btn btn-primary" %>
            <% if (current_user?(@user) || current_user.admin?) %>
              <%= link_to "Tips編集", edit_user_tip_path(@user, tip), class: "btn" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% will_paginate %>
  </div>
</div>