<% provide(:title, "新規投稿") %>

<h1>新規投稿</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @user, url: user_tips_path, method: :post, local: true) do |f| %>
      <%= render 'shared/tip_error_messages' %>
      <%= f.fields_for :tips do |tip| %>
        <%= tip.label :country, "国名", class: "label-tips" %>
        <%= tip.select :country, @countries, { include_blank: true, selected: 1 }, class: "form-control" %>

        <%= tip.label :tips_type, "カテゴリー", class: "label-tips" %>
        <%= tip.text_field :tips_type, class: "form-control" %>

        <%= tip.label :tips_content, "内容", class: "label-tips" %>
        <%= tip.text_area :tips_content, class: "form-control" %>

        <%= tip.label :street_view, "ストリートビューURL", class: "label-tips" %>
        <%= link_to "URLの貼り付け方はこちら", tips_how_to_street_view_path, remote: true, class: "how-to" %>
        <%= tip.text_field :street_view, class: "form-control" %>

        <%= tip.label :img, "画像", class: "label-tips" %>
        <%= tip.file_field :img, class: 'form-control' %>
        <%= tip.hidden_field :img_cache %>

      <% end %>
      <%= f.submit "投稿", class: "btn btn-block btn-primary btn-tips-form" %>
    <% end %>
  </div>
</div>

<div id="how-to-street-view" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>