<% provide(:title, "Tips") %>

<h1>Tips一覧</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="index-form">
      <%= form_with(scope: :tips_condition, url: tips_index_path, method: :get, local: true) do |f| %>
        <%= f.label :country, class: "label-tips" %>
        <%= f.select :country, @countries, { include_blank: true, selected:1 }, class: "form-control" %>

        <%= f.label :tips_type, class: "label-tips" %>
        <%= f.text_field :tips_type, class: "form-control" %>

        <%= f.label :tips_content, class: "label-tips" %>
        <%= f.text_field :tips_content, class: "form-control" %>

        <%= f.submit "検索", class: "btn" %>
      <% end %>
    </div>
    
    <%= will_paginate %>
      <div class="card-group">
        <% @tips.each do |tip| %>
          <% user = User.find(tip.user_id) %>
          <%# カード表示 %>
          <div class="card center-block" style="width: 45rem;">
            <% if tip.street_view.present? %>
              <iframe src="<%= tip.street_view %>" class="card-iframe" width="600" height="450" style="border:0;"
                      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <% elsif tip.img.present? %>
              <%= image_tag tip.img.url, class: 'rounded-circle mr15', width: '100%' %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= tip.country + " " + tip.tips_type %></h5>
              <p class="card-text"><%= tip.tips_content %></p>
              <%= link_to "Tips詳細", user_tip_path(user, tip), class: "btn btn-primary btn-card" %>
              <% if logged_in? %>
                <% if (current_user?(user) || current_user.admin?) %>
                  <%= link_to "Tips編集", edit_user_tip_path(user, tip), class: "btn btn-success btn-card" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% will_paginate %>
  </div>
</div>
